---
import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
  description: string;
  imageUrl?: string | null;
}

const { title, description, imageUrl } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <meta name="description" content={description} />
    <meta name="og:type" content="website" />
    <meta name="og:locale" content="en" />
    <meta name="og:site_name" content="Bsky Profile Webcomponent" />
    <meta name="og:title" content={title} />
    <meta name="og:description" content={description} />

    {
      imageUrl && (
        <>
          <meta name="og:image" content={imageUrl} />
          <meta name="og:image:url" content={imageUrl} />
          <meta name="twitter:image" content={imageUrl} />
        </>
      )
    }

    <meta name="twitter:title" content={title} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content={description} />

    <meta name="mobile-web-app-capable" content="yes" />
    <meta
      name="apple-mobile-web-app-title"
      content="Bsky Profile Webcomponent"
    />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />

    <link rel="icon" href="/favicon.ico" type="image/x-icon" />

    <ViewTransitions />
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body><script>
    import.meta.glob("bsky-profile", { eager: true });
  </script>
</html>
